EXERCISE 2.4 – THE NEXT PRESIDENT (14 MARKS)
The purpose of this exercise is to write some code in Python to store the name of a person, their age, their address and their occupation in a tuple. E.g.
Name: Donald Trump
Age: 70
Address: The White House, Pensylvania Avenue, Washington D.C., U.S.A.
Occupation: President of the good ol' U.S.A.

**Q16**

Enter the code you would type that stores the above information as strings or numbers (in the same order exactly as above) in a single tuple called president using a single line of code.
[4 marks; note – do not include the “Name:” and “Age:” etc. parts.]

In [1]:
president = ("Donald Trump", 70, "The White House, Pensylvania Avenue, Washington D.C., U.S.A.", "President of the good ol' U.S.A.")

**Q17** 

Enter the code for unpacking the information you have stored in the tuple you devised for Q16 into separate variables called name, age, address and occupation. [4 marks]

In [2]:
name, age, address, occupation = president

**Q18**

Enter the code for repacking the information into a new variable called president_in_2021 but also make sure you add 4 to the age variable as you repack the information. [4 marks]

In [7]:
president_in_2021 = name, age + 4, address, occupation

**Q19** 

Enter the value of the variable president_in_2021. [2 marks]

In [8]:
print(president_in_2021)

('Donald Trump', 74, 'The White House, Pensylvania Avenue, Washington D.C., U.S.A.', "President of the good ol' U.S.A.")

THE SET DATA STRUCTURE (11 MARKS)
We will now do some exercises to learn more about the set and dictionary data structures. We can use these data structures to store information in order to represent knowledge (when building a knowledge based system or an intelligent system).
The first ‘set’ of exercises here concerns the ‘set’ data structure.
[2 marks for each of the following questions]

**Q20** 

Enter code that will assign to the variable a the set of letters in the following string: 
 
'Now is the time for all good men to come to the aid of their party.'

In [7]:
a = set("Now is the time for all good men to come to the aid of their party.")

**Q21** 

Enter code that will assign to the variable b the set of letters in the following string: 
 
'We hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness.'
[1 mark for each of the following questions]

In [8]:
b = set("We hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness.")

**Q22** 

Enter Python output that lists the letters in set b but not in set a.

In [9]:
print(b - a)

{'C', 'v', 'R', 'L', 'q', 'b', ',', 'u', 'W', 'H', '-'}

**Q23** 

Enter Python output that lists the unique letters in set b.

In [19]:
set(b)

{' ',
 ',',
 '-',
 '.',
 'C',
 'H',
 'L',
 'R',
 'W',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'y'}

**Q24** 

Enter Python output that lists the letters in either set a or set b but not both.

In [15]:
a ^ b

{',', '-', 'C', 'H', 'L', 'N', 'R', 'W', 'b', 'q', 'u', 'v'}

**Q25** 

Enter Python output that lists the letters in either set a or set b.

In [13]:
a | b

{' ',
 ',',
 '-',
 '.',
 'C',
 'H',
 'L',
 'N',
 'R',
 'W',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'y'}

**Q26** 

Enter Python output that lists the unique letters in set a.

In [14]:
set(a)

{' ',
 '.',
 'N',
 'a',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'w',
 'y'}

**Q27** 

Enter Python output that lists the letters in set a but not in set b.

In [16]:
a - b

{'N'}

**Q28** 

Enter Python output that lists the letters in both set a and set b.

In [18]:
a & b

{' ',
 '.',
 'a',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'w',
 'y'}

EXERCISE 2.6 – AMERICAN PRESIDENTS – PAST AND PRESENT – AND THE DICTIONARY DATA STRUCTURE (24 MARKS)
In this exercise, we will create dictionaries to store facts about the following American Presidents (e.g. their name and when they started in office):
Donald Trump             2017
Barack Obama            2009
George W. Bush         2001
Bill Clinton                   1993
George Bush               1989
First of all, we need to create variables for each of the five presidential dictionaries.
[Make sure you create the variables in the order shown, and do not include spaces in your answer. Also use commas in your code instead of semi-colons.]



Q31 Enter a single line of code that will set the correct years (as listed above) as values to the ‘Year’ key for each of the five dictionaries. [3 marks]
[Make sure you set the variables in the order shown, and do not include spaces in your answer. You will need to use semi-colons again this-time.]

Q32 Enter a single line of code that will iterate over the donald dictionary and print out the keys and values within it.[3 marks]

Q33 Enter the output that is produced when you do the same for the george dictionary. [2 marks]

Q34 Enter a single line of code that will create a tuple in a variable called presidents that will contain the five dictionaries (donald, barack, george_w, bill and george). [3 marks]

Q35 Enter the output that is produced when you print out the value of the presidents variable. [2 marks]

Q36 Enter a single line of code that will instead create an array in a variable called presidents1 that will contain the five dictionaries (donald, barack, george_w, bill and george) at index locations 0, 1, 2, 3 and 4 respectively. [3 marks]

Q37 Enter the output that is produced when you print out the value of the presidents1 variable. [2 marks]

Note: Make sure you keep the value of the variable presidents1 loaded in Python as you will need to have it for Exercise 2.7 below.

**Q29** 

Enter a single line of code that will assign an empty dictionary to each of the five variables – donald, barack, george_w, bill and george. [3 marks]

In [ ]:
donald = {}
barrack = {}
george_w = {}
bill = {}
george = {}

In [24]:
Donald Trump = 2017
Barack Obama = 2009
George W. Bush = 2001
Bill Clinton = 1993
George Bush = 1989

SyntaxError: invalid syntax (1001058698.py, line 1)

In [ ]:
donald, barack, george_w, bill, george =

**Q29** 

Enter a single line of code that will assign an empty dictionary to each of the five variables – donald, barack, george_w, bill and george. [3 marks]

[Make sure you create the variables in the order shown, and do not include spaces in your answer. Also use commas in your code instead of semi-colons.]

In [30]:
donald,barack,george_w,bill,george={},{},{},{},{}

**Q30** 

Enter a single line of code that will set the correct name strings (as listed above) as values to the ‘Name’ key for each of the five dictionaries. [3 marks]


[Make sure you set the variables in the order shown, and do not include spaces in your answer. You will need to use semi-colons this-time.]

In [35]:
donald["Name"]="Donald Trump";barack["Name"]="Barack Obama";george_w["Name"]="George W. Bush";bill["Name"]="Bill Clinton";george["Name"]="George Bush"

**Q31** 

Enter a single line of code that will set the correct years (as listed above) as values to the ‘Year’ key for each of the five dictionaries. [3 marks]

In [37]:
donald["Year"]=2017;barack["Year"]=2009;george_w["Year"]=2001;bill["Year"]=1993;george["Year"]=1989

**Q32** 

Enter a single line of code that will iterate over the donald dictionary and print out the keys and values within it.[3 marks]

In [41]:
for key, value in donald.items():
    print(key, value)

Name Donald Trump
Year 2017